version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: mini-netflix-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      MONGO_URL: mongodb://mongo:27017/mini_netflix
    depends_on:
      - mongo
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload

  frontend:
    build:
      context: ./frontend
    container_name: mini-netflix-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
      WDS_SOCKET_PORT: "3000"
    depends_on:
      - backend
    command: npm start

  mongo:
    image: mongo:6
    container_name: mini-netflix-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
